<?xml version="1.0" encoding="UTF-8"?>

<web-app    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
            id="WebApp_ID" version="3.1">
            

  <display-name>CS480 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>StudentServletCreate</display-name>
    <servlet-name>StudentServletCreate</servlet-name>
    <servlet-class>student.web.servlet.StudentServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServletCreate</servlet-name>
    <url-pattern>/StudentServletCreate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>StudentServletRead</display-name>
    <servlet-name>StudentServletRead</servlet-name>
    <servlet-class>student.web.servlet.StudentServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServletRead</servlet-name>
    <url-pattern>/StudentServletRead</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>StudentServletDelete</display-name>
    <servlet-name>StudentServletDelete</servlet-name>
    <servlet-class>student.web.servlet.StudentServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServletDelete</servlet-name>
    <url-pattern>/StudentServletDelete</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>StudentServletUpdate</display-name>
    <servlet-name>StudentServletUpdate</servlet-name>
    <servlet-class>student.web.servlet.StudentServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServletUpdate</servlet-name>
    <url-pattern>/StudentServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Office_HourServletCreate</display-name>
    <servlet-name>Office_HourServletCreate</servlet-name>
    <servlet-class>office_hour.web.servlet.Office_HourServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Office_HourServletCreate</servlet-name>
    <url-pattern>/Office_HourServletCreate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>Office_HourServletRead</display-name>
    <servlet-name>Office_HourServletRead</servlet-name>
    <servlet-class>office_hour.web.servlet.Office_HourServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Office_HourServletRead</servlet-name>
    <url-pattern>/Office_HourServletRead</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <description></description>
    <display-name>Office_HourServletDelete</display-name>
    <servlet-name>Office_HourServletDelete</servlet-name>
    <servlet-class>office_hour.web.servlet.Office_HourServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Office_HourServletDelete</servlet-name>
    <url-pattern>/Office_HourServletDelete</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>Office_HourServletUpdate</display-name>
    <servlet-name>Office_HourServletUpdate</servlet-name>
    <servlet-class>office_hour.web.servlet.Office_HourServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Office_HourServletUpdate</servlet-name>
    <url-pattern>/Office_HourServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>QueueServletCreate</display-name>
    <servlet-name>QueueServletCreate</servlet-name>
    <servlet-class>queue.web.servlet.QueueServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueServletCreate</servlet-name>
    <url-pattern>/QueueServletCreate</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>QueueServletRead</display-name>
    <servlet-name>QueueServletRead</servlet-name>
    <servlet-class>queue.web.servlet.QueueServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueServletRead</servlet-name>
    <url-pattern>/QueueServletRead</url-pattern>
  </servlet-mapping>
  
  
 <servlet>
    <description></description>
    <display-name>QueueServletDelete</display-name>
    <servlet-name>QueueServletDelete</servlet-name>
    <servlet-class>queue.web.servlet.QueueServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueServletDelete</servlet-name>
    <url-pattern>/QueueServletDelete</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>QueueServletUpdate</display-name>
    <servlet-name>QueueServletUpdate</servlet-name>
    <servlet-class>queue.web.servlet.QueueServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueueServletUpdate</servlet-name>
    <url-pattern>/QueueServletUpdate</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
